body {
	width: 100%;
	height: 100%;
}
.scrollContent {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}
.scrollWrap {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	/* border: solid 1px #333; */
	/* background: #333; */
}
.scrollWrap > .scroll > li {
	transition: all 0.5s ease-in-out, left 0.5s ease, right 0.5s ease;
	position: absolute;
}
.scroll {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	perspective-origin: center center;
	transform-origin: center center;
	perspective: 600px;
}

li {
	list-style-type: none;
}

.first {
	transform: translateX(-600px) translateZ(-180px) translateY(25px)
		rotateY(85deg);
	opacity: 0.7;
}

.second {
	transform: translateX(-300px) translateZ(-30px) rotateY(75deg);
	opacity: 0.7;
}

.third {
	transform: translateY(-3px) translateZ(250px);
	text-align: center;
}

.fourth {
	transform: translateX(300px) translateZ(-30px) rotateY(-75deg);
	opacity: 0.7;
}

.fifth {
	transform: translateX(600px) translateZ(-200px) translateY(25px)
		rotateY(-85deg);
	opacity: 0.7;
	z-index: 1;
}

li img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border: #333 solid 2px;
}
.un-active {
	opacity: 0;
}
